#happy-couple{
    text-align: center;
    background-color: #d4d6d7;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 100%;
    /* font-family: 'Courier New', Courier, monospace; */
    color: #353131;
    padding-bottom: 30pt;
}
#heading{
    font-size: 250%;
    padding-top: 30pt;
    padding-bottom: 2pt;
    color: #3d3636;
    padding-right: 35%;
    font-family: "Palatino Linotype";
}

#bride-heading{
    font-size: 250%;
    padding-top: 30pt;
    padding-bottom: 2pt;
    color: #353131;
    padding-left:20%;
    font-family: "Palatino Linotype";
}

#bride{
    position: inherit;
    padding-top: 10pt;
    padding-bottom: 20pt;
    text-align: center;
    background-color: #d9e0e4;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 150%;
    font-family: "Palatino Linotype";
    color: #7a7171;
    letter-spacing: 1.5px;
    font-weight: lighter;
    padding-left: 65%;
    padding-right: 5%;
}
#groom-heading{
    font-size: 250%;
    padding-top: 30pt;
    padding-bottom: 2pt;
    color: #353131;
    padding-right:60%;
    font-family: "Palatino Linotype";
}

#groom{
    position: inherit;
    padding-top: 10pt;
    padding-bottom: 20pt;
    text-align: center;
    background-color: #d9e0e4;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 150%;
    font-family: "Palatino Linotype";
    color: #7a7171;
    letter-spacing: 1.5px;
    font-weight: lighter;
    padding-right: 65%;
    padding-left: 5%;
}
#bride-img{
    width:485px;
    padding-right: 340px;
    padding-left: 100px;
    padding-top: 108pt;
    float:left;
}
#groom-img{
    width:485px;
    padding-left: 340px;
    padding-right: 100px;
    padding-top: 103pt;
    float:right;
}